{% extends 'template.html' %}

{% load static %}

{% block head %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'landing_page/style.css' %}">
    <style>
        .card-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100 !important;
        }
    </style>
{% endblock %}
{% block title %}
    Home
{% endblock %}


{% block body %}
    <!-- navbar -->
    {% include 'navbar.html' with current="home" %}

    <!-- carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'landing_page/images/slide1.png' %}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'landing_page/images/slide2.png' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'landing_page/images/slide3.png' %}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- cards -->
    {% for article in articles %}
    <div class="card-wrapper">
        <div class="card mb-2" style="max-width: 540px; min-width: 540px;">
            <div class="row no-gutters">
                <div class="image col-md-4">
                    <img src="{{ article.image }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.judul }}</h5>
                        <p class="card-text text-truncate">{{ article.content }}</p>
                        <a href="/article/detail/{{ article.id }}">Baca selengkapnya...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light bg-dark">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> CegahCovid</a>
        </div>
    </footer>


    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}