{% extends 'template.html' %}

{% load static %}

{% block head %}
    <style>
        .image-placeholder{
            position:relative;
            overflow-x:hidden;
            overflow-y:hidden;
            width:100vw;
            height:100%;
        }
        .image{
            position:absolute;
        }
        .image-topleft{
            top:-18%;
            left:-5%;
            width:183px;height:183px;
        }
        .image-topright{
            width:360px;height:360px;
            right:-5%;
            top:5%;
        }
        .image-bottomright{
            width:183px;height:183px;
            bottom:-6%;
            right:-5%;
        }
        .image-bottomleft{
            width:183px;height:183px;
            bottom:-5%;
            left:-5%;
        }
        .image img {
            width:100%;
            height:100%;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- Coronavirus Backgrund -->
    <!-- Each 100vh -->
    <div class="image-placeholder">
        <div class="image image-topleft">
            <img src="{% static 'authentication/coronavirus.png' %}" alt="coronavirus">
        </div>
        <div class="image image-topright">
            <img src="{% static 'authentication/coronavirus.png' %}" alt="coronavirus">
        </div>
        <div class="image image-bottomright">
            <img src="{% static 'authentication/coronavirus.png' %}" alt="coronavirus">
        </div>
        <div class="image image-bottomleft">
            <img src="{% static 'authentication/coronavirus.png' %}" alt="coronavirus">
        </div>
    </div>
{% endblock %}