{% extends 'template.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/templatestyle.css' %}">
    <style>
        /* MOBILE FIRST DEVELOPMENT */
        .content-card.register-content{
            display:flex;
            justify-content:space-between;
            padding:2rem;
        }
        .line-middle{
            width:2px;
            height:100%;
            background:#E4E4E4;
        }
        .content-card .register-content h1{
            font-size:1.875rem;
        }
        .register-section{
            width:100%;
        }
        .register-section form{
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-gap:10px;
        }
        .register-section form p{
            margin:0;
        }
        .register-section form p label{
            display:block;
            text-align:left;
            font-size:1rem;
            font-weight:bold;
        }
        .register-section form p input{
            width:100%;
        }
        .register-section form p:last-child{
            grid-column:1/3;
            margin-top:1rem;
        }
        .register-section form input[type="submit"]#register{
            background:#c4c4c4;
            color:#413C3D;
            font-weight:bold;
            text-transform:uppercase;
            width:unset;
            padding:0.5rem 1.5rem;
            border:none;
            border-radius:50px;
        }
        .mobile{
            display:block;
        }
        .benefit-section .benefits .benefit{
            font-size:1.25rem;
            text-align:left;
        }
        #line-middle{
            width:100%;
            height:2px;
            background:#C4C4C4;
            margin:1.25rem 0;
        }
        ul.errorlist.nonfield{
            padding:0;
            margin:0;
            margin-bottom:1rem;
        }
        ul.errorlist.nonfield li{
            color:red;
            font-style:italic;
            list-style:none;
        }
        @media(min-width:769px){
            .content-card.register-content{
                flex-direction:row;
            }
            #line-middle{
                height:400px;
                width:2px;
                margin:0 2rem;
            }
        }
    </style>
{% endblock %}


{% block body %}
    {% include 'navbar.html' %}
    <div class="content-placeholder">
        <div class="background">
            {% include 'authentication/backgrounds.html' %}
        </div>
        <div class="content-container">
            <div class="content-card register-content">
                <div class="register-section">
                    <h1>Sign Up</h1>
                    {{ form.non_field_errors }}
                    <form method="POST">
                        {% csrf_token %}
                        <p>
                            <label for="{{ form.nama_depan.id_for_label }}">Nama Depan</label>
                            {{ form.nama_depan }}
                        </p>
                        <p>
                            <label for="{{ form.nama_belakang.id_for_label }}">Nama Belakang</label>
                            {{ form.nama_belakang }}
                        </p>
                        <p>
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            {{ form.email }}
                        </p>
                        <p>
                            <label for="{{ form.username.id_for_label }}">Username</label>
                            {{form.username}}
                        </p>
                        <p>
                            <label for="{{ form.username.id_for_label }}">Password</label>
                            {{ form.password }}
                        </p>
                        <p>
                            <label for="{{ form.confirm_password.id_for_label }}">Confirm Password</label>
                            {{ form.confirm_password }}
                        </p>
                        <p>
                        <input type="submit" value="Sign Up" id="register">
                        </p>
                    </form>
                </div>
                <div id="line-middle"></div>
                <div class="benefit-section mobile">
                    <h1 class="title">
                        Apa benefit memiliki akun?
                    </h1>
                    <ul class="benefits">
                        <li class="benefit">Mendapat email adanya artikel baru</li>
                        <li class="benefit">Dapat menulis artikel yang nantinya akan dipublikasikan</li>
                        <li class="benefit">Dapat menulis review dari artikel yang ada di web</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
