<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .content {
            margin-right: 150px !important;
            margin-left: 150px !important;
        }
    </style>
    <title>CegahCovid</title>
</head>

<body>
    <!-- navbar -->
    {% include 'navbar.html' with current="articles" %}

    <div class="content pt-5">
        <div class="pt-5 row">
            <h1 class="px-2"><span style="color: #9C2208; font-size: larger">
                <b>{{ article.topik }}</b></span><br>
                <i>{{ article.judul }}</i><br>
                <span style="font-size: large">{{ article.author }} | {{ article.date }}</span></h1>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center w-100">
                <img class="img" src="{{ article.image }}" width="100%" height="auto">
            </div>
            <div class="w-100 break"></div>
            <div class="col-sm">
                <p style="text-align: justify">{{ article.content }}
                </p>
            </div>
        </div>
    </div>

</body>

</html>