<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>CegahCovid</title>
</head>

<body>
    <!-- navbar -->
    {% include 'navbar.html' with current="articles" %}

    <div style="margin-top: 5rem;" class="p-md-5 p-1">
        <h1>Tulis artikelmu di sini!</h1>
        <div class="">
            <div class="container mt-5 border-top pt-3" id="Post">
                <form action="/article/add/" method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td><label for="topik">Topik</label></td>
                            <td>{{ formulir.topik }}</td>
                        </tr>
                        <tr>
                            <td><label for="judul">Judul</label></td>
                            <td>{{ formulir.judul }}</td>
                        </tr>
                        <tr>
                            <td><label for="image">Tautan gambar</label></td>
                            <td>{{ formulir.image }}</td>
                        </tr>
                        <tr>
                            <td><label for="content">Konten</label></td>
                            <td>{{ formulir.content }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" id="submit" class="btn btn-primary mb-4 btn-add-article">Submit</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>


    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>