{% extends 'template.html' %}

{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <style>
        .navbar{
            position:relative;
            z-index:50;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="/">CegahCovid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto d-flex align-items-end">
                {% if current == "about" %}
                    <a class="nav-item nav-link active" href="/about/">About Us<span class="sr-only">(current)</span></a>
                {% else %}
                    <a href="/about/" class="nav-item nav-link">About Us</a>
                {% endif %}

                {% if current == "articles" %}
                    <a class="nav-item nav-link active" href="/article/">Articles<span class="sr-only">(current)</span></a>
                {% else %}
                    <a href="/article/" class="nav-item nav-link">Articles</a>
                {% endif %}

                {% if current == "search" %}
                    <a class="nav-item nav-link active" href="/article/search/">Search<span class="sr-only">(current)</span></a>
                {% else %}
                    <a href="/article/search/" class="nav-item nav-link">Search</a>
                {% endif %}

                {% if current == "review" %}
                    <a class="nav-item nav-link active" href="/article/review/">Review<span class="sr-only">(current)</span></a>
                {% else %}
                    <a href="/article/review/" class="nav-item nav-link">Review</a>
                {% endif %}

                {% if user.is_authenticated %}
                    <div class="nav-item nav-link active">Hello, {{ user }}</div>
                    <a class="nav-item nav-link active" href="/authentication/logout/">Logout</a>
                {% else %}
                    {% if current == "login" %}
                        <a class="nav-item nav-link active" href="/authentication/">Login<span class="sr-only">(current)</span></a>
                    {% else %}
                        <a href="/authentication/" class="nav-item nav-link">Login</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}