{% extends 'template.html' %}
{% load static %}

{% block title %}
    About Us
{% endblock %}


{% block body %}
  {% include 'navbar.html' with current="about" %}
        <img src="{% static 'about/DR.png' %}" class="img-fluid" alt="Responsive image">
      <h1 style="font-size:4vw;text-align: center;position: relative;top: 70px;">About Us</h1>
      
      <p class="text-justify" style="margin-top: 100px;">CegahCovid adalah situs yang berisikan tentang artikel-artikel kesehatan,
        utamanya dalam rangka mencegah penyebarluasan pandemi COVID-19.
        Website ini menawarkan pengalaman baru dalam melakukan pencegahan,
        yaitu menulis artikel. User dapat menulis artikel yang nantinya akan dipublish.
        Dengan demikian, harapannya masyarakat akan lebih aware dalam menghadapi pandemi ini.</p>
      <h2 style="text-align: center;margin-top: 80px;">Team</h2>
        
      <div class="row" style="margin-top: 100px; margin-left: 100px; margin-right: 100px;">
        <div class="col-sm-3">
          <div class="card text-center">
            <img src="{% static 'about/ibnu.png' %}" class="card-img-top" alt="..." style="width: 3cm; height: 4cm; margin-left: auto; margin-right: auto; display: block;">
            <div class="card-body">
              <h5 class="card-title">Ibnu Hambali</h5>
              <p class="card-text">Full Stack Developer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center">
            <img src="{% static 'about/irza.png' %}" class="card-img-top" alt="..." style="width: 3cm; height: 4cm; margin-left: auto; margin-right: auto; display: block;">
            <div class="card-body">
              <h5 class="card-title">Muhammad Irza</h5>
              <p class="card-text">Full Stack Developer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center">
            <img src="{% static 'about/mario.png' %}" class="card-img-top" alt="..." style="width: 3cm; height: 4cm; margin-left: auto; margin-right: auto; display: block;">
            <div class="card-body">
              <h5 class="card-title">Mario Serano</h5>
              <p class="card-text">Full Stack Developer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center">
            <img src="{% static 'about/aryo.png' %}" class="card-img-top" alt="..." style="width: 3cm; height: 4cm; margin-left: auto; margin-right: auto; display: block;">
            <div class="card-body">
              <h5 class="card-title">Maximilian Aryo</h5>
              <p class="card-text">Full Stack Developer</p>
            </div>
          </div>
        </div>
      </div> 
    <h2 style="text-align: center; margin-top: 100px;">Click button below to join us!</h2>
    
    <a class="btn btn-info" href="{% url 'about:form' %}" role="button"  style="margin-left: 50%;margin-right: auto; margin-top: 30px; margin-bottom: 30px;">join</a>
    {% if objs.count > 0 %}
    <h2 style="text-align: center;margin-top: 80px;">Additional Team Member</h2>
    
    <div class="row" style="margin-top: 100px; margin-left: 100px; margin-right: 100px;">
      {% for item in objs %}
      <div class="col-sm-3">
        <div class="card text-center" style="margin-bottom: 30px;">
          <img src="{% static 'about/fb1.png' %}" class="card-img-top" alt="..." style="width: 3cm; height: 4cm; margin-left: auto; margin-right: auto; display: block;">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.role}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    


    {% endif %}

    {% endblock %}